    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-size: 18px;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(./images/bg-header-desktop.png);
        background-size: cover;
        padding: 40px 80px;
    }
    
    .head1 {
        text-align: center;
        width: 40%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .head-text {
        font-size: 17px;
        margin-bottom: 20px;
    }
    
    .button-head button {
        padding: 10px 25px;
        margin: 0 10px;
        border: none;
        color: white;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    
    .ios-head {
        background-color: hsl(171, 66%, 44%);
        box-shadow: 2px 2px 8px hsl(171, 66%, 44%), 2px 2px 2px hsl(171, 66%, 44%);
    }
    
    .mac-head {
        background-color: hsl(233, 100%, 69%);
        box-shadow: 2px 2px 8px hsl(233, 100%, 69%), 2px 2px 2px hsl(233, 100%, 69%);
    }
    
    .main1 {
        width: 46%;
        text-align: center;
        margin: auto;
    }
    
    .main-text {
        font-size: 20px;
    }
    
    .main2 {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .main2 img {
        height: 100%;
        width: 80%;
    }
    
    .main2 .main2-text div {
        width: 65%;
        margin-top: 45px;
    }
    
    .main3 {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .main3 .main3-text {
        margin-bottom: 50px;
    }
    
    .main3 div:first-child {
        padding: 70px 0;
        width: 65%;
        margin: auto;
    }
    
    .main3-text span {
        font-size: 19px;
    }
    
    .main3 img {
        height: 100%;
        width: 100%;
        margin: auto;
    }
    
    .main3 .main3-text2 {
        margin-bottom: 100px;
    }
    
    .main4-icon {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .main4-icon div {
        width: 26%;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .main4-icon div img {
        margin-bottom: 20px;
    }
    
    .main4-icon2 {
        display: flex;
        justify-content: space-between;
        margin: 50px 30px;
        padding: 0 100px;
    }
    
    footer .footer-1 {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;
    }
    
    .footer-1 .logo {
        width: 50px;
        height: 50px;
        margin: 0 70px;
    }
    
    .footer-1 ul {
        list-style: none;
        max-width: 400px;
    }
    
    ul li {
        display: inline-block;
        margin: 5px 20px;
    }
    
    a {
        color: hsl(171, 66%, 44%);
    }
    
    footer p {
        text-align: center;
    }
    
    @media (max-width: 768px) {
        header {
            background: url(./images/bg-header-mobile.png);
            background-size: cover;
            padding: 40px 10px;
        }
        .head1 {
            width: 100%;
        }
        .main1 {
            width: 80%;
        }
        .main2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .main2 .main2-text div {
            width: 76%;
            margin: 60px 12% auto;
            text-align: center;
        }
        .main3 div:first-child {
            width: 75%;
        }
        .main4 .main4-icon {
            display: grid;
        }
        .main4 .main4-icon div {
            width: 85%;
        }
        .main4 .main4-icon2 {
            display: grid;
            grid-gap: 4em;
            justify-content: center;
            align-items: center;
        }
        .button-head {
            display: grid;
            justify-content: center;
        }
        .button-head button {
            margin: 10px 0;
        }
        footer .footer-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 20px 0;
        }
        ul li {
            display: grid;
            margin: 20px 0;
        }
        .footer-social a {
            margin: 10px;
        }
    }